#contact {
  background-color: #e6e6e6;
}

.contact__text-container {
  display: flex;
  justify-content: space-between;
}

.contact__text-description {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.contact__text-title {
  font-size: 4.6em;
}

.contact__text-par {
  font-size: 1.6em;
}

.contact__text-email {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin-top: auto;
  font-size: 4em;
}

.contact__link-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
  z-index: 2;
}

.contact__link-email {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.contact__link-container a {
  text-decoration: none;
  border-bottom: 2px solid rgba(42, 42, 42, 66%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(42, 42, 42, 66%);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
  transition: color 200ms;
}

.contact__link-faq-a:last-child {
  margin-bottom: 0;
}

.contact__link-faq-a {
  text-decoration: none;
  border-bottom: 2px solid rgba(42, 42, 42, 66%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(42, 42, 42, 66%);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
  transition: color 200ms;
}

.contact__link-container a:hover {
  border-bottom: 2px solid rgba(42, 42, 42, 1);
  color: rgba(42, 42, 42, 1);
}

.contact__link-container img {
  width: 30px;
  height: 30px;
  margin-left: 10rem;
  opacity: 0.66;
}

.contact__link-container a:hover img {
  opacity: 1;
}

.contact__link-faq {
  display: flex;
  flex-direction: column;
}

.contact__content-logo-container {
  position: absolute;
  z-index: 1;
  right: -50px;
  top: 100px;
}

.contact__content-logo {
  opacity: 0.1;
  width: 130%;
  height: 130%;
}

/* =================================== MEDIA QUARIES =================================== */

@media only screen and (max-width: 768px) {
  .contact-container {
    padding: 5vh 5% 0 5%;
  }

  .contact__text-container {
    flex-direction: column;
  }

  .contact__text-description {
    height: 25vh;
    margin-bottom: 5vh;
  }

  .contact__text-title {
    font-size: 11vw;
  }

  .contact__text-par {
    font-size: 7vw;
  }

  .contact__text-email {
    font-size: 9vw;
  }

  .contact__link-container {
    height: 40vh;
  }

  .contact__link-container a {
    font-size: 7vw;
  }

  .contact__link-container img {
    margin-left: 0;
  }
}
