* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

.App {
  font-family: "Karla", sans-serif;
  overflow: hidden;
  background-color: #2a2a2a;
  height: fit-content;
}

.text-title {
  display: flex;
  font-size: 4.6em;
  font-weight: 900;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  display: none;
}

/* =================================== HEADER =================================== */
.navbar {
  width: 100vw;
  position: relative;
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}

.backdrop.open {
  z-index: 4;
}

/* ======== BURGER ======== */

.side-navbar {
  position: fixed;
  width: fit-content;
  height: 100vh;
  z-index: 5;
}

.menu-btn {
  width: 80px;
  height: 80px;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 10;
  background-color: white;
  border-radius: 100%;
  transition: all 0.05 ease;
}

@media only screen and (min-width: 768px) {
  .menu-btn:hover {
    background-color: #ec8c16;
  }

  .menu-btn:hover .menu-btn__burger,
  .menu-btn:hover .menu-btn__burger::before,
  .menu-btn:hover .menu-btn__burger::after {
    background: white;
  }
}

.menu-btn__burger {
  width: 35px;
  height: 1px;
  background: #2a2a2a;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  background: #2a2a2a;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

.menu-btn.open {
  background-color: #ec8c16;
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: white;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: white;
}

/* =================================== MEDIA QUARIES =================================== */

@media only screen and (max-width: 768px) {
  .menu-btn {
    width: 45px;
    height: 45px;
    top: 30px;
    right: 25px;
    opacity: 1;
    display: flex;
  }

  .menu-btn__burger {
    width: 25px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 25px;
  }
}
